{
  "useTabs": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "printWidth": 80,
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
